[submodule "nes-test-roms"]
	path = nes-test-roms
	url = https://github.com/christopherpow/nes-test-roms
[submodule "src/test/resources/nes-test-roms"]
	path = src/test/resources/nes-test-roms
	url = https://github.com/christopherpow/nes-test-roms
